<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Codepage="932" Id="EEC14959-A5A3-435B-91D8-4889645251EC" Name="鳩時計時報" Language="1041" Version="1.5.3" Manufacturer="tapoh" UpgradeCode="4C80C2D1-1E51-4561-921F-EAEFCE21C1B6">
    <Package Description="シンプルな時報" Comments="鳩時計時報" InstallerVersion="200" Compressed="yes" SummaryCodepage="932" />
    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles"><Directory Id="HATODOKEIJIHOU" Name="Hatodokeijihou"><Component Id="_____.EXE" DiskId="1" Guid="FF7BF0AB-92F2-414E-85B2-2D2A80937830"><File Id="_____.EXE" Name="Hatodokei.exe" Source="D:\working\hatodokei\src-tauri\target\release\Hatodokei.exe" /></Component></Directory></Directory>
    </Directory>
    <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
    <ComponentRef Id="_____.EXE" /></Feature>
    <UI />
<UIRef Id="WixUI_Minimal" /><WixVariable Id="WixUILicenseRtf" Value="license.rtf" /><Binary Id="license.rtf" SourceFile="D:\working\hatodokei\resource\wix\license.rtf" /></Product>
</Wix>
